<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .custom-background {
            background-color: #f8f9fa; /* Light gray background */
            padding: 20px;
            border-radius: 5px;
        }
        .custom-input {
            color: #495057; /* Default input text color */
            background-color: #50d6ee; /* Green background for inputs */
            border: 1px solid #ced4da;
            border-radius: .25rem; 
        }
    </style>
</head>
<body>

<div class="container mt-5 text-center">
    <h1 class="text-warning font-weight-bold"> Expense <span class=" text-info">Form</span> </h1>
    <form action="/save_expense" method="post" class="custom-background">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="expenseName">Expense For</label>
                <input type="text" class="form-control custom-input" id="expenseName" name="expense_for">
            </div>
            <div class="form-group col-md-6">
                <label for="amount">Amount</label>
                <input type="number" class="form-control custom-input" id="amount" name="amount">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="note">Note</label>
                <input type="text" class="form-control custom-input" id="note" name="note">
                
            </div>
            <div class="text-center col-md-6 mt-4">
                <button type="submit" class="btn btn-primary">Save Expense</button>
            </div>
        </div>
       
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body
